<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="has-text-centered" ><%= entry.name %></h1> <br>
    <div class="px-2" >
    amount: <%= entry.amount %> <br>
    discription: <%= entry.disc %> <br>
    income:  <% if(entry.income === true){ %>
        You made money
    <% } else { %>
        You spent money
    <% } %>
    <form action="/budget/<%=entry.id %>?_method=DELETE" method="POST" >
        <input type="submit" value="DELETE" />
    </div>
</body>
</html>