<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
<% console.log(goal) %>
    <h1 class="has-text-centered" ><%= goal.name %></h1> <br>
    <div class="has-text-centered" >
    Target Amount: <%= goal.goalAmmount %> <br>
    DUE Date: <%= goal.dateDue %> <br>
    What you have so far: <%= goal.currentAmmount %> <br>
    Priority: <%= goal.priority %> <br>
    Goal discription: <%= goal.disc %> <br>
    Reward: <p><%= goal.reward %></p> <br>
    Accomplished:  <% if(goal.accomplished === true){ %>
        Congratulations enjoy you reward!
    <% } else { %>
        Keep going you have'nt meet your goal yet.
    <% } %>
    <form action="/goals/<%=goal.id %>?_method=DELETE" method="POST" >
        <input type="submit" value="DELETE" />
    </div>
</body>
</html>